# == Application ==
PORT=3000

# == Database ==
POSTGRES_USER=blind_user
POSTGRES_PASSWORD=blind_password
POSTGRES_DB=blind_storage
POSTGRES_PORT=5432

# == Prisma ==
DATABASE_URL="postgresql://blind_user:blind_password@localhost:5432/blind_storage?schema=public"
